{% extends "base.html" %}

{% block head %}
<title>Contact Me!</title>
<meta name="description"
    content="My name is Galen. I do a lot of stuff, most of it dumb. This is where you can find how to contact me.">
{% endblock head %}

{% block content %}
<h1 class="title">Galen Guyer</h1>
<h2>Contact Me!</h2>
<hr />
<p>The best place to contact me is over email at <a href="mailto:galen@galenguyer.com">galen@galenguyer.com</a>.</p>
<p>If you wanna make me cry by using an overabundance of security, you can find my GPG key at <a
        href="https://gpg.galenguyer.com">gpg.galenguyer.com</a>. I'm also on <a href="">keybase as galenguyer</a>, if you'd like to verify my identity on other platforms.</p>
{% endblock content %}