{% extends "base.html" %}

{% block head %}
<title>Galen Guyer</title>
<meta name="description"
    content="My name is Galen. I do a lot of stuff, most of it dumb. This is where I talk about it.">
{% endblock head %}

{% block content %}
<h1 class="title">Galen Guyer</h1>
<h2>Full Stack Software and DevOps Engineer</h2>
<hr />
<p>Hi, I'm Galen! I've interned twice at Microsoft, in the summers of 2018 and 2019. In 2018, I was on the Office
    Security Penetration Testing team, and in 2019 I was on the One Customer Voice team. Currently, I'm a student at the
    Rochester Institute of Technology, studying Software Engineering. In my free time, I do way too much programming. If you
    wanna see a lot of it, check out my github, <a href="https://github.com/galenguyer">github.com/galenguyer</a>.</p>

<p>If you're interested in getting in touch for whatever reason, you can find a list of ways to reach me on my <a
        href="/contact">contact page</a>!</p>
</p>
{% endblock content %}