{% extends "base.html" %}

{% block head %}
<title>Galen Guyer</title>
<meta name="description"
    content="My name is Galen. I do a lot of stuff, most of it dumb. This is where I talk about it.">
{% endblock head %}

{% block content %}
<h1 class="title">Galen Guyer</h1>
<h2>Full Stack Software and DevOps Engineer</h2>
<hr />
<p>Hi, I'm Galen. I do a bunch of stuff. Here's some of the places you can read about them:</p>
<ul>
    <li><a href="https://github.com/galenguyer"><b>GitHub</b>.com/galenguyer</a></li>
    <li><a href="https://cdn.galenguyer.com/doc/Galen-Guyer-Resume-latest.pdf">My Resume</a></li>
</ul>
<p>If you're interested in getting in touch for whatever reason, here's how you can do that:</p>
<ul>
    <li><a href="mailto:galen@galenguyer.com">galen@galenguyer.com</a></li>
    <li><a href="https://discord.com">chef#1911 on Discord</a></li>
</ul>
<p>
    If you like too much security, my gpg key is available at <a
        href="https://gpg.galenguyer.com">gpg.galenguyer.com</a> with the fingerprint <code>B00B5AAA0E096100</code>.
    I'll probably cry if you force me to learn how
    to use GPG, though
</p>
{% endblock content %}